@font-face {
  font-family: 'Patua One';
  src: url('fonts/PatuaOne-Regular.woff2') format('woff2'),
    url('fonts/PatuaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
